extends layout.pug
include mixins/post-list

block title
      title Welcome to Reddit Clone!!!

block content
    h1 Welcome to Reddit!!!
    ul
            li
                a(class='list' href="/sort/top") Top
            li
                a(class='list' href="/sort/hot") Hot

    +postList(posts)
    
